body {
  margin: 0;
  background: radial-gradient(circle at top, #1a001f, #000);
  color: #eaeaea;
  font-family: monospace;
}

header {
  text-align: center;
  padding: 60px 20px;
}

h1 {
  color: #b84cff;
  font-size: 3rem;
}

header p {
  color: #cfa7ff;
}

.card {
  background: rgba(20, 0, 30, 0.9);
  border: 1px solid #3a004a;
  border-radius: 14px;
  padding: 25px;
  margin: 25px auto;
  max-width: 750px;
  box-shadow: 0 0 30px rgba(184, 76, 255, 0.15);
}

.card h2 {
  color: #d38bff;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  padding: 8px 0;
  border-bottom: 1px solid #2a0033;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 22px;
  background: linear-gradient(135deg, #8f2bff, #c77dff);
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.btn.big {
  font-size: 1.1rem;
  padding: 15px 30px;
}
.note {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #aaa;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
}
.os-image {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
  border: 1px solid #3a004a;
  box-shadow: 0 0 25px rgba(184, 76, 255, 0.25);
}
.social {
  margin-top: 10px;
  font-size: 0.95rem;
}

.social a {
  color: #c77dff;
  text-decoration: none;
  font-weight: bold;
}

.social a:hover {
  text-decoration: underline;
}
